#Page-Container {
    display: flex;
    gap: 5px;
}

#Grid-Container {
    display: grid;
    height: 600px;
    width: 600px;
    border: black;
    border-style: solid;
}
.Grid-Box {
    background-color: black;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

#Button-List {
    list-style-type: none;
}

button {
    border: black;
    border-style: solid;
    background-color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: gray;
}